.greenArt {
    background-color: #87BA77;
    border-radius: 10px;
    width: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newActivityDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createBtn {
    margin-top: 2rem;
    margin-left: 20rem;
}

.buttonSection {
    display: flex;
}

.cancelBtn {
    margin-right: 5rem;
    margin-top: 1rem;
}
.editBtn {
    margin-left: 1rem;
    margin-top: 1rem;
}