@import "./typography";
@import "./colors";
@import "./buttons";
@import "./breakpoints";

.app {
  background-color: $background;
  width: 100%;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 3px $dark-green;
    margin-bottom: 40px;
    height: 100px;
    
    @include breakpoint("xs", "down") { 
      height: 80px;
    }
  }
  &__logo {
    height: 20vmin;
    width: 20vmin;
    margin: 1rem;
    margin-bottom: -3rem;
    pointer-events: none;
  }
}