.App {
  text-align: center;
  background-color: #F7E6D3;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.App-logo {
  height: 20vmin;
  margin: 1rem;
  margin-bottom: -3rem;
  pointer-events: none;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 3px #0C5843;
}


