$background: #F7E6D3 !default;
$dark-green: #0C5843 !default;
$light-green: #87BA77 !default;
$orange: #F07143 !default;
$red: #F75031 !default;
$text-color: #171E20 !default;
$error-text: #BB0101 !default;
$white: #FDFDFD !default;