.mainLand {
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-around;
}

.landingArt {
    display: flex;
    justify-content: space-around;
}

.orangeHeader {
    color: #F07143;
}

.greenHeader {
    color: #0C5843;
}

.greenDiv {
    background-color: #87BA77;
    border-radius: 10px;
    box-shadow: #517048 1px 1px 3px 3px;
    min-width: 15rem;
    min-height: 20rem;
}

.midDiv {
    background-color: #dec8b788;
    border-radius: 10px;
    box-shadow: #7a6f6588 1px 1px 3px 3px;
    min-width: 15rem;
    min-height: 20rem;
}

.activity {
    margin-top: 1.3rem;
}

.redHeader {
    color: #F75031;
}

h4 {
    color: #171E20;
}