@import "./colors";
@import "./breakpoints";

.not-found {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: $red;
    }
    &__image {
        background-color: $red;
        width: 550px;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        @include breakpoint ("md", "down") {
            width: 350px;
            height: 250px;
        }
        @include breakpoint ("sm", "down") {
            width: 250px;
            height: 180px;
        }
        img {
            width: 500px;
            @include breakpoint ("md", "down") {
                width: 300px;
            }
            @include breakpoint ("sm", "down") {
                width: 200px;
            }
        }
    }
}