@import "../../Styles/colors";
@import "../../Styles/keyframes";
@import "../../Styles/breakpoints";

.toggle-info {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0;
    right: 0;
    &__info-img {
        width: 50px;
        height: 50px;
        margin-left: auto;
    }
    &__info-text {
        animation: toggle-info-slide-up 0.25s ease forwards;
        margin-left: auto;
        background: $white;
        position: absolute;
        border-radius: 8px;
        z-index: 2;
        padding: 12px;
        top: -6px;
        right: 10px;
        width: 300px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
        transition: transform 0.25 ease;
        border: 1px solid #dcdcdc;

        @include breakpoint ("sm", "down") {
            width: 200px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -15px;
            width: 0;
            height: 0;
            right: 5px;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            border-color: $white transparent transparent transparent;
            transform: translateY(-100%) translateX(-50%);
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -17px;
            width: 0;
            height: 0;
            right: 5px;
            border-style: solid;
            border-width: 8.5px 8.5px 0 8.5px;
            border-color: $background transparent transparent transparent;
            transform: translateY(-100%) translateX(-50%);
            z-index: 0;
        }
    }
}