@import "../../Styles/colors";
@import "../../Styles/breakpoints";

.activity {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    &__content {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint ("md", "down") {
            width: 300px;
        }
        @include breakpoint ("sm", "down") {
            width: 200px;
        }
    }

    &__form {
        width: 100%;
        background-color: $light-green;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        
        @include breakpoint ("md", "down") {
            padding: 20px;
        }
        @include breakpoint ("sm", "down") {
            padding: 15px;
        }

        &--item {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    &__buttons {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        flex-wrap: wrap;
        @include breakpoint ("md", "down") {
            justify-content: center;
        }
        @include breakpoint ("sm", "down") {
            flex-wrap: wrap;
            width: 121%;
        }

        &--edit, &--handle {
            display: flex;
            @include breakpoint ("sm", "down") {
                flex-direction: column-reverse;
            }
            button:first-child {
                margin-right: 8px;
                margin-bottom: 10px;
            }
        }

        .create-btn {
            width: 120px;
        }
    }
}