@import "../../Styles/colors";
@import "../../Styles/breakpoints";

.password {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  &__content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint("md", "down") {
      width: 400px;
    }
    @include breakpoint("sm", "down") {
      width: 300px;
    }
    @include breakpoint("xs", "down") {
      width: 200px;
    }
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: $dark-green;
    }
  }
  &__saved {
    h2 {
      color: $dark-green;
    }
  }
  &__form {
    width: 100%;
    background-color: $light-green;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    @include breakpoint("md", "down") {
      padding: 20px;
    }
    @include breakpoint("sm", "down") {
      padding: 15px;
    }
    .link {
      text-decoration: none;
    }
  }
  &__input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    label {
      width: 100%;
      input {
        width: 100%;
        border-radius: 5px;
        border: solid 1px;
        height: 2rem;
        padding: 2px;
      }
    }
    .paragraph {
      color: $error-text;
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    .forgot-btn, .save-btn {
      margin-left: auto;
    }
  }
  .paragraph {
    color: $error-text;
  }

  .toggle-info {
    position: absolute;
    bottom: -60px;
  }
}
