@import "../../Styles/colors";
@import "../../Styles/breakpoints";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;

  &__content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint("md", "down") {
      width: 350px;
    }
    @include breakpoint("sm", "down") {
      width: 200px;
    }
  }

  &__welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin-bottom: 20px;
    @include breakpoint("md", "down") {
      width: 350px;
    }
    @include breakpoint("sm", "down") {
      width: 230px;
    }
  }
  &__photo-settings {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    @include breakpoint("md", "down") {
      width: 350px;
    }
    @include breakpoint("sm", "down") {
      width: 230px;
    }
  }
  &__image {
    max-width: 200px;
    max-height: 400px;
    margin-bottom: 10px;
    border: 10px solid $white;
    border-radius: 10px;
    img {
      width: 100%;
    }
  }

  &__pick-image {
    background-color: $white;
    width: 126px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    p {
      color: $dark-green;
    }
    &:hover {
      p {
        color: $white;
      }
      background-color: lighten($dark-green, 8%);
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
    }
  }

  &__form {
    width: 100%;
    background-color: $light-green;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    @include breakpoint("md", "down") {
      padding: 20px;
      width: 350px;
    }
    @include breakpoint("sm", "down") {
      padding: 15px;
      width: 230px;
    }

    &--item {
      width: 100%;
      margin-bottom: 16px;

      input {
        width: 100%;
        border-radius: 5px;
        border: solid 1px;
        height: 2rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
    @include breakpoint("md", "down") {
      width: 350px;
    }
    @include breakpoint("sm", "down") {
      width: 250px;
    }
  }
}

.profileSect {
  border: 2px solid #0c5843;
  border-radius: 10px;
  box-shadow: #0c584271 1px 1px 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}
