@import "../../Styles/colors";
@import "../../Styles/breakpoints";

.profile {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  &__content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint("md", "down") {
      width: 400px;
    }
    @include breakpoint("sm", "down") {
      width: 300px;
    }
    @include breakpoint("xs", "down") {
      width: 200px;
    }
  }
  &__welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  &__saved {
    h2 {
      color: $dark-green;
    }
  }
  &__photo-settings {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__image {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
    border: 10px solid $white;
    border-radius: 10px;
    img {
      width: 100%;
    }
  }
  &__pick-image {
    background-color: $white;
    width: 120px;
    height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    p {
      color: $dark-green;
    }
    &:hover {
      p {
        color: $white;
      }
      background-color: lighten($dark-green, 8%);
    }
    input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
    }
  }
  &__form {
    width: 100%;
    background-color: $light-green;
    box-shadow: $dark-green 1px 1px 3px 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 30px;
    @include breakpoint("sm", "down") {
      padding: 15px;
    }
    &--item {
      margin-bottom: 20px;
      input {
        width: 100%;
        border-radius: 5px;
        border: solid 1px;
        height: 2rem;
      }
      .topic-container {
        display: flex;
        flex-wrap: wrap;
        .topicDiv {
          background-color: #0c584273;
          display: flex;
          margin: 0 1rem 10px 0;
          padding-left: 5px;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
          p {
            margin-right: 5px;
    
          }
        }
        .topicRemove {
          background-color: $red;
          border-radius: 5px;
          padding: 5px;
          margin-right: 0;
          width: 20px;
          display: flex;
          justify-content: center;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
}