@import "../../Styles/colors";
@import "../../Styles/breakpoints";

.calendar {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  &__create {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    width: 900px;
    height: 100%;
    @include breakpoint("lg", "down") {
      width: 700px;
    }
    @include breakpoint("md", "down") {
      width: 500px;
    }
    @include breakpoint("sm", "down") {
      width: 350px;
    }
    @include breakpoint("xs", "down") {
      width: 250px;
    }
  }

  .fc {
    width: 100%;
    color: $text-color;
    font-family: "Saira", sans-serif;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;


    &-day-today {
      background: $light-green !important;
    }

    &-day-past {
      background-color: lighten(grey, 40%) !important;
    }

    td, th {
      border: 1px solid lighten($text-color, 50%) !important;
    }

    &-header-toolbar {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-toolbar-title {
      font-size: 26px;
      font-weight: bold;
      color: $orange;
    }

    &-toolbar-chunk:last-child {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-button-group {
      .fc-prev-button,
      .fc-next-button {
        width: 50px;
      }
    }

    button {
      appearance: none;
      text-align: center;
      cursor: pointer;
      background-color: $white;
      margin: 0 10px 10px 0;
      height: 47px;
      width: 100px;
      border-radius: 5px;
      padding: 8px;
      border: none;
      color: $dark-green;
      font-family: "Saira", sans-serif;
      font-weight: bold;
      outline: none;
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      &:disabled {
        cursor: auto;
        background: #dddddd;
        color: $text-color;
        box-shadow: none;
      }

      &:hover:not([disabled]),
      &:active:not([disabled]) {
        background-color: lighten($dark-green, 8%) !important;
        color: $white !important;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px !important;
      }
    }

    &-h-event {
      background-color: $dark-green;
      border: 1px solid $dark-green;
      cursor: pointer;
    }
  }
}
